---
layout: default
title: Home
---

<div class="posts">
 <br>
  {% for post in paginator.posts %}
  <div class="card">
  <article class="post">
    <div class="card-header-title"">
    <p class="is-2">
      <a class="is-2" href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
      </p>
      </div>
      <div class ="card-content">
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      </div>
    <div class="card-content">
    {{ post.content }}
    </div>
  </article>
  </div>
  <br>
  {% endfor %}
</div>

<nav class="pagination">
  {% if paginator.next_page %}
    <a class="button pagination previous is-primary is-large" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <a class="button pagination previous is-primary is-large">Older</a>

  {% endif %}
  {% if paginator.previous_page %}
    <a class="button pagination-item newer is-primary is-large" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="button pagination-item newer is-primary is-large">Newer</span>
  {% endif %}
</div>
