<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
</br>

  <body>

        <div class="container content">
      <main>
        {{ content }}
      </main>

    </div>
      <footer class="footer">
      <div class="container">

      <div class="content has-text-centered">
      <span>
        <a href="https://github.com/bradfordcondon"><i class="fa fa-github-square fa-3x"></i></a>
        <a href="https://twitter.com/BradfordCondon"><i class="fa fa-twitter-square fa-3x"></i></a>
        </span>
        </div>
          <p>
          <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. Site and content provided under a <a href="https://creativecommons.org/licenses/by-nc/2.0/"> Creative Commons non-commercial 2.0 license</a>.  Proudly hosted on Github Pages. 
          </p> 
      
        </div>
        </div>
      </footer>
    {% include analytics.html %}
  </body>
</html>
